*..synctex.gz(busy)
Code/results_dir/concWavs
Code/results_dir/tensorlogs
Code/results_dir/stNW_MultChan_all
Code/examplestructs
Code/Local_Databases
Code/results_dir/feature_extractors_*.mat
*.fls
*.fdb_latexmk
*.out
*.swp
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.mexmaci64
*.mexa64
*.mexa32
*.m~
*.asv
*.glo
*.xdy
*.toc
__pycache__
.idea
.spyproject
*.pyc
*.scp
*.ark
Code/results_dir/tensorlog*
Code/results_dir/surface_model*.*
Code/results_dir/airs_*
Code/results_dir/boundary_ids_*
Code/results_dir/names_*
*.wav
Code/matlabsrc/*.wav
Code/pythonsrc/*.wav
tmp.py
Code/pythonsrc/train_file_tuples.py
Code/results_dir/training_test_data.json
Code/matlabsrc/ThirdParty/simonhenin-columnlegend-8883602/
Code/results_dir/acenvgenmodel_cachedir/
Code/results_dir/air_modeling_results/
Code/results_dir/gan_h5_info.h5
Code/results_dir/training_test_data_wav.h5
Code/tmp.m
Code/pythonsrc/requirements.txt
